.owner-buttons{
    display: flex;
    justify-content: space-around;
    gap:0.5em;
    margin-top: 1em;
}

.owner-buttons button{
    padding: 0.7em 1em;
    border: none;
    font-size: 1em;
    background-color: #3a505a;
    border-radius: 0.7em;
    font-weight: 600;
}

.owner-buttons button a{
    color: #ffffffe5;
    text-decoration: none;
}
