.auth-heading{
    color: #3a405a; 
    font-size: 2em;
    text-align: center;
}

.auth-holder{
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 3em;
   padding: 2em;
   width: 60%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: white;
}


.auth-holder img, .form-holder{
   flex: 1 1 30%;
}
.auth-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 0.8em;
  border-radius: 1em;
}


.auth-form .auth-info-section input {
 border: 1px solid #3a405a96;
 border-radius: 0.5em;
 width: 12em;
 padding: 0.5em;
 width: 15em;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-auth-button{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: #3a405a;
   color: antiquewhite;
   border: none;
   padding: 0.7em 5em;
   border-radius: 1em;
   font-size: 1.1em;
}

.auth-message{
   font-size: 0.95em;
   color: #3a405ab2;
   text-align: center;
}

.auth-message a{
   text-decoration: none;
   color: #3a405a;
}