.mindmap-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mindmap-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3em;
}

.mindmap-header h1{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #2D3142;
    padding: 0;
}

.mindmap-name-info{
      display: flex;
      align-items: center;
      gap: 2em;
}


.diagram-container{
    height: 60em;
    display: flex;
    width: 90%;
    margin: 5em;
    gap: 1em;
    background-color: white;
    align-self: center;
}


.node-input{
    background-color: orange;
    border-radius: 1em;
    padding: 0.8em 2em;
    display: flex;
    text-align: justify;
    width: 20em;
}

.react-flow .react-flow__connectionline {
    z-index: 0;
  }
   
  .node-wrapper {
    display: flex;
    height: inherit;
    z-index: 1;
  }
   
  .input:focus {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.25);
    pointer-events: all;
  }

