.mindmap-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mindmap-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3em;
}

.mindmap-header h1{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #2D3142;
    padding: 0;
}

.mindmap-name-info{
      display: flex;
      align-items: center;
      gap: 2em;
}


.diagram-container{
    height: 60em;
    display: flex;
    width: 90%;
    margin: 5em;
    gap: 1em;
    background-color: white;
    align-self: center;
    flex-direction: column;
    gap: 5em;
}


.node-input{
    background-color: rgb(169, 176, 209);
    color: #1b1d27;
    font-weight: 500;
    border-radius: 1em;
    padding: 1em 2em;
    display: flex;
    text-align: center;
    width: 20em;
    font-size: 1.2em;
}

.react-flow .react-flow__connectionline {
    z-index: 0;
  }
   
  .node-wrapper {
    display: flex;
    height: inherit;
    z-index: 1;
    
  }
   
  .input:focus {
    border: none;
    outline: none;
    pointer-events: all;
  }

  .mindmap-save-btn{
    color: #2D3142;
    border: none;
    border-top: 3px solid #2D3142;
    font-size: 1.6em;
    padding: 0.7em;
    display: flex;
    justify-content: center;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
