.dashboard-wrapper{
   display: flex; 
   gap: 5em;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   margin: 3em 0;
}

.dashboard-aside{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
    background-color: #ffffff;
    padding:  0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-aside h4{
   font-size: 1.2em;
   text-align: center
}

.dashboard-aside ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.3em 3em;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.owned-items h4{
    color: #877fa3;
}
.dashboard-owned-link-list{
    background-color: #877fa3;
}

.dashboard-aside ul li a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    gap: 1em;
}


.liked-items h4{
    color:#63A375 ;
}

.dashboard-liked-link-list{
    background-color: #63A375;
}
.suggestions-list{
    background-color: #EB5E55;
}

.suggestion-collection h4{
    color:#EB5E55 ;
}
.dashboard-content{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    justify-content: center;
    padding: 2em;
}

.dashboard-content  h1{
      font-size: 3em;
      margin: 0em;
      color: #3a505a;
      letter-spacing: 0.1em;
      text-align: center;
}
