@media screen and (max-width:957px){
    .playlist-details-metadata{
        flex-direction: column;
    }

    .playlist-details-metadata img{
        width: 70%;
    }

    .playlist-details-metadata .playlist-detailed-text{
       text-align: center;
    }

    .play-btn{
        align-self: center;
    }

    .playlist-detailed-text{
        padding-bottom: 1.5em ;
    }
    .playlist-details-metadata{
        padding-top: 1.5em;
    }
    
}

.playlist-details-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.playlist-details-metadata{
    display: flex;
    flex-wrap: wrap;
    gap: 6em;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 2em 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.playlist-details-metadata img{
    min-width: 30%;
    flex: 0 1 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.playlist-details-metadata .playlist-detailed-text{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
}

.playlist-details-metadata .playlist-detailed-text h2{
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: #28363d;
}


.playlist-details-metadata .playlist-detailed-text p{
    color: #3a505a;
}

.play-btn{
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
    font-size: 1.3em;
    border: none;
    background-color: #EB5E55;
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 6em;    
}
.play-btn:hover{
    background-color: #3a505a;
}

section.playlist-tracks{
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.play{ 
     position:sticky;
     background-color: #3a505a;
     padding: 0.5em 1em;
     display: flex;
     height: 4em;
    bottom: 0;
}


.current-track-info{
  display: flex;
  align-items: center;
  gap: 1em;
}

.current-track-info p,.no-track-chosen{
    font-size: 1.2em;
    color: #ffffff;
}

.current-track-info img{
    width: auto;
    height: 4em;
    border-radius: 0.3em;
}

.no-track-chosen{
    width: 100%;
    text-align: center;
}