.tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
}

.add-tag{
    padding: 0.6em 1em;
    background:none;
    font-size: 1.2em;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.7em;
    background-color: #63A375;
}

.add-tag a{
    color: antiquewhite;
    text-decoration: none;
    font-weight: 900;

}