.deck-preview-wrapper{
    display: flex;
    color: #3a505a;
    padding: 0 2em;
    background-color: #ffffff63;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    justify-content: flex-start;
    flex: 0 1 90%;
    gap:1em
}

.deck-preview-wrapper h3{
    font-size: 1.5em;
}

.deck-preview-info-holder{
    display: flex;
    gap: 2em;
    flex: 0 1 45%;
    align-items: center;
}

.deck-preview-tags{
    font-size: 1.2em;
    flex: 0 1 40%;
}

.deck-preview-wrapper  button{
     border: none;
     background-color: #3a505a;
     padding: 0.6em 3em;
     border-radius: 1em;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.deck-preview-wrapper  button a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
}

.deck-preview-wrapper  button:hover{
    background-color: #eb5f55c9;
}