.mindmap-preview-card{
    display: flex;
    background-color: #ffffffb9;
    border-radius: 1em;
    flex: 0 1 30%;
    color: #3a505a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.mindmap-preview-aside{
    flex: 0 1 10%;
    background-color: #63A375;
    padding: 0.7em ;
    border-radius: 1em 0 0 1em ;
}

.mindmap-preview-main{
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 0 1 90%;
}

.mindmap-preview-header{
    display: flex;
    gap: 1em;
    align-items: center;
}
.mindmap-heading{
    font-size: 1.3em;
    padding: 0;
    margin-bottom: 0;
}

.mindmap-preview-tags{
    font-size: 1.1em;
}

.mindmap-preview-details-btn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
   border: none;
   padding: 0.5em 3em;
   border-radius: 1em;
   background-color:   #63A375;
}

.mindmap-preview-details-btn:hover{
    background-color: #3a505a;
}
.mindmap-preview-details-btn a{
    text-decoration: none;
    color: white;
    font-size: 1.6em;
}

@media screen and (width<600) {
    .mindmap-heading{
        font-size: 1em;
    }

    .mindmap-preview-tags{
        font-size: 0.8em;
    }

    .mindmap-preview-details-btn {
        font-size: 1.3em;
    }
}