.flashcard-preview-wrapper{
    background: none;  
    background-color: #2d3142bb;
    border-radius: 0.4em;
    display: flex;
    text-align: justify;
    max-width: 35%;
   
}

.flashcard-content{
    padding: 1em 3em ;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.flashcard-preview-wrapper h3 a{
    color: #EEEBD0;
    font-size: 1em;  
    text-decoration: none;
}

.flashcard-preview-wrapper h3{   
    padding: 0;
    margin: 0;
}

.flashcard-preview-wrapper h5{
    color: #EEEBD0;
    font-size: 1em;  
    margin: 0;
}

.remove-flashcard{
    color: #EEEBD0;
    text-decoration: none;
    font-size: 1.7em;
    align-self: flex-start;
    margin: 0;
    padding-right: 0.4em;
    padding-top: 0.1em;
}

.flashcard-wrap-final{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.253), 0 6px 20px 0 rgba(0, 0, 0, 0.253);
}

.add-flashcard-to-deck-icon{
    color: #eeebd09f;
    padding: 1em;
    font-size: 1.2em;
}