.flashcard-preview-wrapper{
    background: none;  
    background-color: #EB5E55;
    border-radius: 0.4em;
    padding: 0.4em 1em;
}

.flashcard-content{
    padding: 1em 3em ;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.flashcard-preview-wrapper h3 a{
    color: #EEEBD0;
    font-size: 1em;  
    text-decoration: none;
}

.flashcard-preview-wrapper h3{   
    padding: 0;
    margin: 0;
}

.flashcard-preview-wrapper h5{
    color: #EEEBD0;
    font-size: 1em;  
    margin: 0;
}

.remove-flashcard{
    text-align: right;
    color: #EEEBD0;
    text-decoration: none;
    font-size: 1.7em;
    align-self: flex-start;
    margin: 0;
    width: 100%;
    padding-top: 0.1em;
}

.flashcard-wrap-final{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.253), 0 6px 20px 0 rgba(0, 0, 0, 0.253);
}

.add-flashcard-to-deck-icon{
    color: #eeebd0;
    font-size: 1.2em;
    text-align: right;
    margin: 0;
}