.deck-details-header{
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4em;
    align-items: center;
    gap: 3em;
    margin: 4em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deck-details-header h2{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #2D3142;
    padding: 0;
}

.flashcards{
    flex-wrap: wrap;
    display: flex;
    margin: 3em;
    gap: 2em;

}

.flashcard-buttons{
    padding: 1em;
     position:sticky;
     bottom: 0;
     display: flex;
     justify-content: center;
     gap: 1em;
     background-color: rgba(255, 255, 255, 0.801);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flashcard-buttons button{
 font-size: 1.5em;
    border: none;
    font-weight: 700;

}

.flashcard-buttons button a{
   color: #2d3142bb;
    text-decoration: none;
}


