@media screen and (max-width:600px) {
    .playlist-preview-card h3{
        font-size: 1em;
    }
}

.playlist-preview-card{
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.3em;
}

.playlist-preview-card img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.playlist-preview-card .playlist-preview-data{
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 1em;
}

.playlist-preview-card .playlist-preview-data h3{
    color: #EB5E55;
    font-size: 1.4em;
    text-align: center;
}

.playlist-details-btn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #EB5E55;
    border: none;
    padding: 0.5em 2.5em;
    border-radius: 1em;
}

.playlist-details-btn:hover{
    background-color: #3a505a;
}

.playlist-details-btn a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}