.flashcard-details-section{
    display: flex;
    justify-content: center;
    margin-top: 6em;
}

.flashcard-details-wrapper{
    display: flex;
    gap: 2em;
    align-items: center;
   width: 50%;
}

.flashcard-details-wrapper>p{
    color: #EB5E55;
    font-size: 3.5em;
    cursor: pointer;
}

.flashcard-details{
    border-radius: 1em;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 1em 3em;
    color: rgba(255, 255, 255, 0.9);
    background-color: #EB5E55;
}

.flashcard-details h2{
    font-size: 2.5em;
}

.flashcard-details button, .flashcard-details button a {
       color: rgba(255, 255, 255, 0.9);
}
