.login-heading{
     color: #3a405a; 
     font-size: 2em;
     text-align: center;
}

.login-holder{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 2em;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.login-holder img, .form-holder{
    flex: 1 1 50%;
}
.login-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2em;
   padding: 0.8em;
   border-radius: 1em;
}


.login-form .info-section input {
  border: 1px solid #3a405a96;
  border-radius: 0.5em;
  width: 12em;
  padding: 0.5em;
  width: 15em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-login-button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3a405a;
    color: antiquewhite;
    border: none;
    padding: 0.7em 5em;
    border-radius: 1em;
    font-size: 1.1em;
}

.register-message{
    font-size: 0.95em;
    color: #3a405ab2;
    text-align: center;
}

.register-message a{
    text-decoration: none;
    color: #3a405a;
}