.edit-container{
    height: 100vh;
}

.edit-form{
    display: flex;
    gap: 2em;
    align-items: center;
    flex-direction: column;
   margin: 5em auto;
   width: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   padding: 2em;
   color: #3a405a;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: #ffffffd3;
}

.edit-note-form{
   margin-top: 4em;
   margin-bottom: 2em;

}

.edit-form .edit-heading{
    margin-bottom: 0;
    letter-spacing: 0.12em;
    color: #3a405a;
    font-size: 3em;
    text-align: center;
    align-self: center;
}
.edit-form .edit-input{
    border: 1px solid #3a405a96;
    border-radius: 0.5em;
    padding: 0.9em;
    min-width: 90%;
}

.edit-form .edit-button{
    font-size: 1.3em;
border-radius: 0.6em;
padding: 0.7em 3em ;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
background-color:#3a405a;
border: none;
margin-bottom: 0.8em;
color: #ffffffdc;
text-align: center;
margin-bottom: 0;
letter-spacing: 0.1em;
}

.edit-note-content{
    width: 90%;
    height: 15em;
}

.edit-radio-section{
    display: flex;
    gap: 1em;

}

.edit-deck-mindmap{
    margin: 1em auto;
}